package-lock.json
.DS_Store

.wrangler/
node_modules

# PRIVATE: 
# Everything below is private and won't be pushed to the normal repo but will be posted to a private repo named `[folder-name].private` under the same branch
# TODO: Implement this